<tr>
  <td style="text-align: center;"><%= book_list_counter %></td>
  <td><%= link_to book_list.title, book_list %></td>
  <td><%= book_list.author %></td>
  <td style="text-align: center;"><%= book_list.available? ? "tak" : book_list.first_free_for_loan.date_due_for_return.strftime('%d-%m-%Y') %></td>
</tr>
