 <%= "szukasz: - '" + params[:query][:keyword] + "'" if params[:query] %>
<div id="BooksList">
<table>
  <thead>
    <tr>
      <td>Lp.</td>
      <td>Tytul</td>
      <td>Autor</td>
      <td>Dostępna / Data zwrotu</td>
      <td colspan="2">dostepne dla admina</td>
    </tr>
  </thead>
  
  <tbody id="TableBody">
    <%= render :partial => 'book_list', :collection => @books %>
  </tbody>
</table>
</div>