 <%= "szukasz: - '" + params[:query][:keyword] + "'" if params[:query] %>
<table border="1">
  <thead>
    <tr>
      <td>Lp.</td>
      <td>Tytul</td>
      <td>Autor</td>
      <td>Data zwrotu</td>
      <td>Dostepna</td>
      <td colspan="3">dostepne dla admina</td>
    </tr>
  </thead>
  
  <tbody id="TableBody">
    <%= render :partial => 'book_list', :collection => @books %>
  </tbody>
</table>