<div>
Ilość aktualnie wypożyczonych książek: <b><%= @books_for_return %></b>
<br />
<% if @book_for_return %>
Najwcześniej do zwrotu: <b><%= link_to @book_for_return.title, book_path(@book_for_return) %></b> (<%= @book_for_return.loans.first.date_due_for_return %>)
<% end %>
</div>